<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">FLOOD Sensor Portal</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- The [class.active directive will add the "active" class if the expression evaluates to true]-->
            <li class="nav-item"
                [class.active]= "isActiveRoute('/sensordata')">
                <a class="nav-link" routerLink="/sensordata">Sensor Data<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item"
                [class.active]= "isActiveRoute('/sensors')">
                <a class="nav-link" routerLink="/sensors">Sensors</a>
            </li>
        </ul>
    </div>
</nav>