<div class="container">
	<!-- Bootstrap grid to get "Sensor List" header and the New Sensor button on same line -->
	<div class="row">
		<div class="col">
			<h2>Sensor List</h2>
		</div>
		<div class="col">
			<button class="btn btn-large btn-success my-1 float-right" routerLink="/new-sensor">
				<i class="fa fa-plus"></i> New Sensor
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<!-- Using a bootstrap table here, to make headers possible -->
			<table class="table">
				<thead>
					<!-- Table header row -->
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Hardware ID</th>
						<th scope="col">Coordinates</th>
						<th scope="col">Install Date</th>
						<th scope="col">Removal Date</th>
					</tr>
				</thead>
				<!-- Table body. NgFor lets us create many table rows. -->
				<tbody>
					<!-- ngClass directive sets custom class if the table row is selected -->
					<tr *ngFor="let sensor of sensorList; let idx = index" (click)="onSelect(sensor, idx)"
						[ngClass]="{'table-active': sensor == selectedSensor}">
						<!-- TD elements contain each column entry. Should have same number of td tags as the header row. -->
						<td>{{sensor.synthetic_id}}</td>
						<td>{{sensor.hardware_id}}</td>
						<td>({{sensor.location.longitude}}, {{sensor.location.latitude}})</td>
						<td>{{sensor.install_date | date:'short'}}</td>
						<td>{{sensor.removal_date | date:'short'}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- Sensor Edit Section. Note the ngIf directive, that means this html only displays if selectedSensor!=null-->
		<div *ngIf="selectedSensor" class="col-4">
			<h2>Sensor {{selectedSensor.synthetic_id}} Detail</h2>
			<!--
				This is a reactive form: https://angular.io/guide/reactive-forms.
				It uses a formGroup, which is declared in the typescript. The advantage
				of this type of form is that it allows for very rigid validation
				of each input.
			-->
			<form [formGroup]="editSensorForm">
				<div class="form-group">
					<label for="hardwareIDInput">Hardware ID</label>
					<!-- Note the formControlName directive. This links the input below to the form control called "hardware_id"-->
					<input class="form-control" id="hardwareIDInput" formControlName="hardware_id" />
					<label for="installDateInput">Install Date</label>
					<!-- This block enables the popup calendar in the editor. This is useful because it allows dates to be selected seamlessly. -->
					<div class="form-group date-widget">
						<div class="input-group date" data-target-input="nearest" NgTempusdominusBootstrap>
							<input id="installDateInput" class="form-control" formControlName="install_date"
								[options]="options" NgTempusdominusBootstrapInput type="text" />
							<div class="input-group-append" NgTempusdominusBootstrapToggle>
								<div class="input-group-text">
									<i class="fa fa-calendar"></i>
								</div>
							</div>
						</div>
					</div>
					<label for="removalDateInput">Removal Date</label>
					<!-- This block enables the popup calendar in the editor. This is useful because it allows dates to be selected seamlessly. -->
					<div class="form-group date-widget">
						<div class="input-group date" data-target-input="nearest" NgTempusdominusBootstrap>
							<input id="removalDateInput" class="form-control" formControlName="removal_date"
								[options]="options" NgTempusdominusBootstrapInput type="text" />
							<div class="input-group-append" NgTempusdominusBootstrapToggle>
								<div class="input-group-text">
									<i class="fa fa-calendar"></i>
								</div>
							</div>
						</div>
					</div>
					<label for="latitudeInput">Latitude</label>
					<!-- Note the formControlName directive. This links the input below to the form control called "latitude"-->
					<input class="form-control" id="latitudeInput" formControlName="latitude" />
					<label for="longitudeInput">Longitude</label>
					<!-- Note the formControlName directive. This links the input below to the form control called "longitude"-->
					<input class="form-control" id="longitudeInput" formControlName="longitude" />
					<!-- This button submits the form (note the call to updateSensor()). It will be disabled if the sensor form is not valid-->
					<button class="btn btn-primary my-3" type="submit" [disabled]="editSensorForm.invalid"
						(click)="updateSensor()">Update</button>
				</div>
			</form>
		</div>
	</div>
</div>