<div class="container">
	<!-- Bootstrap grid to get "Sensor List" header and the New Sensor button on same line -->
	<div class="row">
		<div class="col">
			<h2>Sensor List</h2>
		</div>
		<div class="col">
			<button class="btn btn-large btn-success my-1 float-right" routerLink="/new-sensor"><fa-icon [icon]="faPlus"></fa-icon> New Sensor</button>
		</div>
	</div>
	<ul class="list-group">
		<li *ngFor="let sensor of sensorList" class="list-group-item" [class.active]="sensor === selectedSensor"
			(click)="onSelect(sensor)">
			<span class="badge">{{sensor.synthetic_id}}</span> {{sensor.hardware_id}} ({{sensor.location.longitude}}
			{{sensor.location.latitude}})
		</li>
	</ul>

	<div *ngIf="selectedSensor">
		<h2>Sensor {{selectedSensor.synthetic_id}} Detail</h2>
		<div><span>id: </span>{{selectedSensor.synthetic_id}}</div>
		<div>
			<label>hardware id:
				<input [(ngModel)]="selectedSensor.hardware_id" placeholder="hardware_id" />
			</label>
		</div>
		<div>
			<label>install date:
				<input [(ngModel)]="selectedSensor.install_date" placeholder="install_date" />
			</label>
		</div>
		<div *ngIf="selectedSensor.removal_date">
			<label>removal date:
				<input [(ngModel)]="selectedSensor.removal_date" placeholder="removal_date" />
			</label>
		</div>
		<div>
			<label>location:
				<input [(ngModel)]="selectedSensor.location" placeholder="location" />
			</label>
		</div>
	</div>

</div>