<div class="container">
	<!-- Bootstrap grid to get "Sensor List" header and the New Sensor button on same line -->
	<div class="row">
		<div class="col">
			<h2>Sensor List</h2>
		</div>
		<div class="col">
			<button class="btn btn-large btn-success my-1 float-right" routerLink="/new-sensor">
				<fa-icon [icon]="faPlus"></fa-icon> New Sensor
			</button>
		</div>
	</div>
	<!-- Using a bootstrap table here, to make headers possible -->
	<table class="table">
		<thead>
			<!-- Table header row -->
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Hardware ID</th>
				<th scope="col">Coordinates</th>
			</tr>
		</thead>
		<!-- Table body. NgFor lets us create many table rows. -->
		<tbody>
			<!-- ngClass directive sets custom class if the table row is selected -->
			<tr *ngFor="let sensor of sensorList" (click)="onSelect(sensor)"
				[ngClass]="{'table-active': sensor == selectedSensor}">
				<!-- TD elements contain each column entry. Should have same number of td tags as the header row. -->
				<td>{{sensor.synthetic_id}}</td>
				<td>{{sensor.hardware_id}}</td>
				<td>({{sensor.location.longitude}}, {{sensor.location.latitude}})</td>
			</tr>
		</tbody>
	</table>

	<div *ngIf="selectedSensor">
		<h2>Sensor {{selectedSensor.synthetic_id}} Detail</h2>
		<div><span>id: </span>{{selectedSensor.synthetic_id}}</div>
		<div>
			<label>hardware id:
				<input [(ngModel)]="selectedSensor.hardware_id" placeholder="hardware_id" />
			</label>
		</div>
		<div>
			<label>install date:
				<input [(ngModel)]="selectedSensor.install_date" placeholder="install_date" />
			</label>
		</div>
		<div *ngIf="selectedSensor.removal_date">
			<label>removal date:
				<input [(ngModel)]="selectedSensor.removal_date" placeholder="removal_date" />
			</label>
		</div>
		<div>
			<label>location:
				<input [(ngModel)]="selectedSensor.location" placeholder="location" />
			</label>
		</div>
	</div>

</div>