<label for = 'entry_id_input'>
    Entry ID
</label>

    <input type='text' class='form-control' id='entry_id_input'
    required
    [(ndModel)] = 'model.entry_id' name='entry_id'

<label for = 'distance_input'>
    Distance
</label>

    <input type='text' class='form-control' id='distance_input'
    required
    [(ndModel)] = 'model.distance' name='distance'

<label for = 'timestamp_input'>
    Timestamp
</label>

    <input type='text' class='form-control' id='timestamp_input'
    required
    [(ndModel)] = 'model.timestamp' name='timestamp'

<label for = 'sensor_input'>
    Sensor
</label>

    <input type='text' class='form-control' id='sensor_input'
    required
    [(ndModel)] = 'model.sensor' name='sensor'


