<div class="container">
  <div class="form-group">

    <label for="hardware_id_input">
      HardwareID
    </label>

    <input type="text" class="form-control" id="hardware_id_input" required [(ngModel)]="model.hardware_id"
      name="hardware_id">


    <label for="location_latitude_input">
      Latitude
    </label>

    <input type="text" class="form-control" id="location_latitude_input" required [(ngModel)]="model.location.latitude"
      name="latitude">

    <label for="location_longitude_input">
      Longitude
    </label>

    <input type="text" class="form-control" id="location_logitude_input" required [(ngModel)]="model.location.longitude"
      name="longitude">

    <button type="button" class="btn btn-primary" (click)="onSubmit()">Submit</button>
    <!-- <TODO: remove this: {{model.name}}> -->
  </div>
</div>